<app-header-u></app-header-u>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card center" style="width: 20rem; padding-top: 7px;">
                <img src="{{producto.fotoproducto}}" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text text-danger"><span>PRECIO:Q </span>{{producto.precio}}</p>
                    <div class="border border-success">
                        <p class="text-info"> Detalle del Producto</p>
                        <p class="card-text">{{producto.detalle}}</p>
                    </div>
                    
                    
                    <div class="border border-success">
                        <p class="text-info"> Palabras Claves</p>
                        <p class="card-text">{{pabra.palabras}}</p>
                    </div>
                    <h3>                </h3>
                    <button class="btn btn-info" (click)="postComentario()">add to car</button>
                </div>
            </div>
            <!--este es para añadir comentarios-->
            <div>
                <div class="card center" style="width: 20rem; padding-top: 8px;">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="taComentar">Comment</label>
                            <textarea [(ngModel)]="comentario.descripcion" name="descripcion" class="form-control" id="taComentar"></textarea>
                        </div>
                        <button class="btn btn-info" (click)="postComentario()">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h1 class="subtitulo-lp">Comments</h1>
            <hr>
            <div class="row row-cols-1">
                <div class="col center" style="padding-top: 8px;" *ngFor="let element of COMENTARIOS">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-success">{{element.autor}}  {{element.fecha}}</h5>
                            <p class="card-text text-warning"><span><i class="fas fa-comment"></i></span> {{element.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
